<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>地標資料修改</title>
    <script>
        function readURL(input) {
            if (input.files && input.files[0]) {
                var imageTagID = input.getAttribute("targetID");
                var reader = new FileReader();
                reader.onload = function(e) {
                    var img = document.getElementById(imageTagID);
                    img.setAttribute("src", e.target.result)
                }
                reader.readAsDataURL(input.files[0]);
            }
        }

        window.onload = function() {
            //地標名稱input改變的監聽器
            document.querySelector('#location_name').addEventListener('change', function() {
                document.querySelector('#now_location_name').innerText = "地標名稱：" + document.querySelector('#location_name').value
            })

            //文字說明input改變的監聽器
        }
    </script>
    <style>
        body {
            padding: 5% 5% 5% 5%;
            background-color: #A8EEFC;
        }
        
        @font-face {
            font-family: 'TaipeiSans';
            src: url('/static/font/TaipeiSansTCBeta-Regular.ttf');
        }
        
        #hero {
            padding: 5%;
            background-color: #FFF;
            border-radius: 20px;
        }
        
        #text_info {
            height: 200px;
            width: 95%;
            border: 1px #333 solid;
        }
        
        input {
            width: 95%;
        }
        
        label {
            font-size: 16px;
        }
        
        .input_area {
            padding-top: 20px;
        }
        
        #location_name {
            height: 30px;
        }
        
        #location_image {
            width: 80%;
            margin-left: 10%;
        }
        
        #submit_buttom {
            width: 120px;
            height: 50px;
            font-size: 16px;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div id="main_background">
        <div id="header"></div>
        <div id="now_location_info">
            <p id="now_location_name">地標名稱：{{location_data.title}}</p>
            <p>地址：{{location_data.address}}</p>
            <p style="display:inline-block;width:49%;">緯度：{{location_data.lat}}</p>
            <p style="display:inline-block;width:49%;">經度：{{location_data.lng}}</p>
            <p id="now_location_text">地標描述：{{location_data.text}}</p>
        </div>
        <div id="hero">
            <img id="location_image" src="https://cdn-icons-png.flaticon.com/512/2659/2659360.png" alt="地標圖片資訊">
        </div>
        <div id="body">
            <div class="form"></div>
            <form action="/MasterMaso/get_location_datas" method="POST" enctype="multipart/form-data">
                <div class="input_area">
                    <label for="location_name">地標名稱</label>
                    <input id="location_name" type="text" name="location_info">
                </div>
                <div class="input_area">
                    <label for="image_info">圖片資訊</label>
                    <input id="image_info" onchange="readURL(this)" targetID="location_image" type="file" name="upload_image" accept="image/png, image/jpeg">
                </div>
                <div class="input_area">
                    <label for="text_info">文字說明</label>
                    <input id="text_info" type="text" name="text_info">
                </div>
                <div class="input_area">
                    <input type="hidden" name="locationId" value="{{location_data.Id}}">
                </div>
                <div class="input_area">
                    <input id="submit_buttom" type="submit" value="提交地標資訊">
                </div>
            </form>
        </div>
        <div id="footer"></div>
    </div>

</body>

</html>